$global-font-family:         'Gilroy', sans-serif;

$global-font-size:              16px;
$card-breadcrumbs-fs:           13px;
$small-fs:                      14px;
$navigation-menu-fs:            18px;
$card-title-fs:                 20px;
$footer-title-fs:               24px;
$logo-fs:                       28px;
$card-price-fs:                 30px;
$section-title-fs:              52px;
$hero-title-fs:                 90px;

$bold:                           700;
$normal-weight:                  400;

$logo-color:                 #0F2D47;
$navbar-color:               #061E33;
$section-title-color:        #061E33;
$breadcrumbs-color:          #888EA0;
$card-secondary-color:       #373F55;
$card-text-color:            #464649;
$we-are-text-color:          #464649;
$footer-contacts-color:      #F2F7FF;
$navbar-hover-color:         #FF0032;