


.grid {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -17.5px;
}

.grid-col-4 > .grid-item {
	width: 25%;
	padding: 0 17.5px;
}


.left-content {
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	margin: 0 -9px;
}

.we-are-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.we-are-text {
  width: 50%;
  text-align: left;
  color: $we-are-text-color;
  &>p {
    padding-bottom: 30px;
  }
}

.grid-item.we-are {		
	overflow: hidden;
	width: 50%;
  padding: 0 9px;
	&.vertical-margin {
			padding-top: 15px;
		}
}

@media (max-width: 1240px) {
  .grid.daily-tours {
  	margin:0 -15px;
  }

	.grid-col-4 > .grid-item.daily-tours {
	width: 33.33%;
	padding: 0 15px;
}

	
}

@media (max-width: 959px) {
  .grid.daily-tours {
  	margin:0 -15px;
  }

	.grid-col-4 > .grid-item.daily-tours {
	width: 50%;
	padding: 0 15px;
	margin: 0 auto;
}
  .left-content {
	margin: 0 -6px;
	width: 55%;
}

.we-are-text {
	width: 45%;
}

.grid-item.we-are {		
  padding: 0 6px;
	&.vertical-margin {
			padding-top: 10px;
		}
}

}

@media (max-width: 640px) {
	.grid-col-4 > .grid-item.daily-tours {
   width: 100%;
}

.we-are-content {
	flex-wrap: wrap;
}

	  .left-content {
	margin: 0 -6px;
	width: 100%;
	padding-bottom: 30px;
}

.we-are-text {
	width: 100%;
 }
}