@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?43szzw');
  src:  url('../fonts/icomoon.eot?43szzw#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?43szzw') format('truetype'),
    url('../fonts/icomoon.woff?43szzw') format('woff'),
    url('../fonts/icomoon.svg?43szzw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e900";
  font-size: 14px;
}
.icon-phone:before {
  content: "\e942";
}
.icon-location:before {
  content: "\e947";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}


$size: 20px;

.search-bar {
  height: auto;
  width: auto;
  position: absolute;
  display: inline-block;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  
  input {
    height: 32px;
    width: 44px;
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 18px;
    border: $size/10 solid transparent;
    border-radius: 44px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.5s ease-out;
    
    color: transparent;
    &::placeholder {
      color: transparent;
    }
    
    &:invalid {
      box-shadow: none;
    }
    
    &:hover {
      border: $size/10 solid #FF0032;
      box-shadow: 0 0 $size/10 $size/10 #EEE;
    }
    
    &:focus, &:valid {
      width: 300px;
      // border: $size/10 solid #CCC;
      outline: none;
      cursor: auto;
      background-color: #FFF;
      color: #000;
      
      &::placeholder {
        color: #999;
      }
      
      + .search-icon {
        z-index: 0;
        // border-color: #CCC;
        right: 20px;
        
        &:after {
          background-color: #CCC;
        }
      }
    }
  }
}



.search-icon {
  display: inline-block;
  height: $size;
  width: $size;
  border-radius: 50%;
  border: $size/10 solid #FFF;
  position: absolute;
  right: 12px;
  top: 8px;
  z-index: -1;
}